body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    listStyle:"none";
    display:flex;
    flex-direction:column;
}
a{
    color:white;
}
a:hover{
    color:aqua;
}
.Active{
    color:grey;
}